<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html th:replace="~{layout}">

<div th:fragment="content">
    <div class="row center mt-2">
        <div class="col-lg-12">
            <h2>Register</h2>
        </div>
    </div>

    <div class="alert alert-primary alert-dismissible fade show mt-2" role="alert" th:if="${msg} != null">
        <pre th:text="${msg}"></pre>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <form th:action="@{/save_register}" method="POST" th:object="${user}">
        <div class="row mt-2">
            <div class="col-lg-12">
                <div class="form-group">
                    <input type="hidden" name="id" th:field="*{id}"/>

                    <label>Usuario:</label>
                    <input type="text" name="username" placeholder="Usuario" maxlength="255" th:field="*{username}"
                           class="form-control"/>

                    <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-lg-12">
                <div class="form-group">
                    <label>Password:</label>
                    <input type="password" name="password" placeholder="*****" maxlength="255" th:field="*{password}"
                           class="form-control"/>

                    <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                          class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12 col-md-6 mb-2">
                <button type="submit" class="btn btn-success">Register</button>
            </div>

            <div class="col-12 col-md-6">
                <a th:href="@{/login}" class="btn btn-primary">Ir a Login</a>
            </div>
        </div>
    </form>

    <script>
        document.title = "Register | Proyecto Luis";
    </script>

</div>